<div class="row">
  <div class="booyah-box col-sm-5 offset-md-1">
    <h1>From the left</h1>
    <br />
    <ul class="list-group list-group-flush"> 
        <% @lefts.each do |entry| %>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if entry.content.nil? %>
                            <li class="list-group-item">
                                <%= link_to entry.title, entry.url %>
                            </li>
                        <% else %>
                            <%= entry.content.html_safe %>
                        <% end %>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i><%= time_ago_in_words(entry.published) %> ago</i>
                    </li>
                </ul>
        <% end %>
    </ul>
        
  </div>

  <div class="booyah-box col-sm-5 col-md-push-1">
    <h1>From the right</h1>
    <br />
        <ul class="list-group list-group-flush"> 
        <% @rights.each do |entry| %>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <% if entry.content.nil? %>
                            <li class="list-group-item">
                                <%= link_to entry.title, entry.url %>
                            </li>
                        <% else %>
                            <%= entry.content.html_safe %>
                        <% end %>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i><%= time_ago_in_words(entry.published) %> ago</i>
                    </li>
                </ul>
        <% end %>
    </ul>
  </div>
</div>

